.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6f7070;
  background-color: transparent;
}

.myLinks {
  text-decoration: none !important;
}

#container_carousel {
  display: flex;
  flex-direction: row;
}
.avatar-xs {
  height: 5.3rem;
  width: 5.3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.height {
  height: 10vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9ca3af;
}

.form .fa-eye-slash {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #9ca3af;
}

.form .fa-eye {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #9ca3af;
}
.form-input {
  height: 45px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.avatar-md {
  height: 4rem;
  width: 4rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.img-thumbnail {
  padding: 0.15rem;
  background-color: #f1f3f7;
  border: 1px solid #eff0f2;
  border-radius: 0.75rem;
}
.avatar-title {
  align-items: center;
  background-color: #3b76e1;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.badge-soft-success {
  color: #63ad6f !important;
  background-color: rgba(99, 173, 111, 0.1);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75rem;
}

.nav-link.active {
  color: #198754 !important;
}

.nav-link {
  color: rgb(61, 61, 61) !important;
}
